.parentPane {
    -fx-background-color: "#D9D9D9";
}

.imageCanvas {
    -fx-fill: "WHITE";
    -fx-stroke: "#ADADAD";
    -fx-stroke-width: 1;
}

.colorChooser {
    -fx-background-color: null;
}

.colorChooser:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}